.about-background-img {
  position: relative;
  background: url('https://j36949281.myjino.ru/images/about/about.jpg') no-repeat center / cover;
  height: 350px;
  border-radius: 5px;
}

.about-inner {
  position: absolute;
  top: 50%;
  left: 2%;
  color: #000;
}

.about-desc {
  max-width: 350px;
}

.about-desc-company {
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  .about-inner {
    background: linear-gradient(to right, #000, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };
}

@media screen and (max-width: 500px) {
  .about-inner {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };
}