.slider-backdrop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 76px);
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

.slider-title {
  margin-top: 6%;
  font-size: 40px;
}

.slider-backdrop {
  margin-bottom: 100px;
}

.carousel-caption {
  left: 50% !important;
  top: 50%;
  right: 0 !important;
  transform: translate(-50%, -50%);
}

.slider-desc {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.custom-setting-slider {
  height: calc(100vh - 76px);
}

.slider-img {
  height: calc(100vh - 76px);
  object-fit: cover;
}

.carousel-caption {
  z-index: 100;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 100 !important;
}